{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign is_wip = false %}
{% if post.category == 'working_papers' %}
  {% assign is_wip = true %}
{% endif %}

{% assign is_teaching = false %}
{% if post.no_link or post.collection == 'teaching' %}
  {% assign is_teaching = true %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline">
      {% if is_teaching or is_wip %}
        {{ title }}
      {% elsif post.paperurl %}
        <a href="{{ post.paperurl }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if is_teaching %}
      <p class="archive__item-excerpt">{{ post.type }}, {% if post.venue_url %}<a href="{{ post.venue_url }}" class="venue-link"><i>{{ post.venue }}</i></a>{% else %}<i>{{ post.venue }}</i>{% endif %}, {{ post.date | date: "%Y" }}</p>
    {% elsif is_wip %}
      <p class="archive__item-excerpt"><i>Work in progress</i></p>
    {% elsif post.citation %}
      <p class="archive__item-excerpt">{{ post.citation }}</p>
    {% elsif post.venue %}
      <p class="archive__item-excerpt"><i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% endif %}
    </li>
  </article>
</div>
